Repository leosocy/RobustPalmRoi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

add badges
  README.md
Due: none

laplace enhancer handler
  README.md
  app/common/status.h
  app/handlers/enhancer.h
  app/handlers/handler.h
  manage.sh
  tests/CMakeLists.txt
  tests/test_base.h
  tests/test_handlers/test_enhancer.cpp
Due: app, tests

laplace enhancer handler
  .gitignore
  app/handlers/enhancer.cpp
  tests/test_handlers/test_enhancer.cpp
Due: app, tests

complete handler chain
  README.md
  app/CMakeLists.txt
  app/chain/chain.cpp
  app/chain/chain.h
  app/common/status.h
  app/handlers/enhancer.h
  app/handlers/handler.h
  tests/CMakeLists.txt
  tests/test_chain/test_chain.cpp
  tests/test_handlers/test_enhancer.cpp
Due: app, tests

[Handler] gaussian filter
  README.md
  app/handlers/filter.cpp
  app/handlers/filter.h
  tests/test_handlers/test_filter.cpp
Due: app, tests

[Handler] otsu binarizer
  app/handlers/binarizer.cpp
  app/handlers/binarizer.h
  app/handlers/enhancer.h
  app/handlers/filter.cpp
  tests/test_chain/test_chain.cpp
Due: app, tests

[Handler] test otsu binarizer
  app/README.md
  app/handlers/binarizer.h
  tests/test_handlers/test_binarizer.cpp
  tests/test_handlers/test_enhancer.cpp
Due: app, tests

handler chain use list
  app/chain/chain.cpp
  app/chain/chain.h
Due: app

modify app README declare multiple 'Adjuster'
  app/README.md
Due: app

export compile commands
  .gitignore
  app/chain/chain.h
  tests/CMakeLists.txt
Due: app, tests

Adjuster base class
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
Due: app

[Handler] remove noise adjuster
  app/handlers/adjuster.h
  tests/test_chain/test_chain.cpp
  tests/test_handlers/test_adjuster.cpp
Due: app, tests

[Handler] angle adjuster
  app/README.md
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  tests/test_chain/test_chain.cpp
  tests/test_handlers/test_adjuster.cpp
Due: app, tests

[utilities] image operators <GetCenterOfGravity> <RotateImage>
  app/utilities/image_operator.cpp
  app/utilities/image_operator.h
Due: app

[utilities] WarpAffineImageOperator
  app/chain/chain.cpp
  app/chain/chain.h
  app/common/status.h
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  app/handlers/binarizer.cpp
  app/handlers/binarizer.h
  app/handlers/enhancer.cpp
  app/handlers/enhancer.h
  app/handlers/filter.cpp
  app/handlers/filter.h
  app/handlers/handler.h
  app/utilities/image_operator.cpp
  app/utilities/image_operator.h
  app/utilities/imgop.cpp
  app/utilities/imgop.h
  tests/test_base.h
  tests/test_chain/test_chain.cpp
  tests/test_handlers/test_adjuster.cpp
  tests/test_handlers/test_binarizer.cpp
  tests/test_handlers/test_enhancer.cpp
  tests/test_handlers/test_filter.cpp
  tests/test_utilities/test_imgop.cpp
Due: app, tests

[Status] ImageLowQualityError
  app/common/status.h
  app/handlers/adjuster.cpp
  app/utilities/imgop.cpp
Due: app

[Handler] base detector class
  app/handlers/detector.cpp
  app/handlers/detector.h
Due: app

[Handler] peak valley detector
  app/handlers/detector.cpp
  app/handlers/detector.h
  tests/test_chain/test_chain.cpp
  tests/test_handlers/test_detector.cpp
Due: app, tests

add controllers directory
  app/README.md
  app/controllers/chain.cpp
  app/controllers/chain.h
  tests/test_controllers/test_chain.cpp
Due: app, tests

reconstruct add PalmInfoDTO
  app/common/palm.h
  app/common/types.h
  app/controllers/chain.cpp
  app/controllers/chain.h
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  app/handlers/binarizer.cpp
  app/handlers/binarizer.h
  app/handlers/detector.cpp
  app/handlers/detector.h
  app/handlers/enhancer.cpp
  app/handlers/enhancer.h
  app/handlers/filter.cpp
  app/handlers/filter.h
  app/handlers/handler.h
  tests/test_base.h
  tests/test_controllers/test_chain.cpp
  tests/test_handlers/test_adjuster.cpp
  tests/test_handlers/test_binarizer.cpp
  tests/test_handlers/test_detector.cpp
  tests/test_handlers/test_enhancer.cpp
  tests/test_handlers/test_filter.cpp
  tests/test_utilities/test_imgop.cpp
Due: app, tests

[Handler] effective incircle extractor
  app/common/palm.h
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/utilities/imgop.cpp
  app/utilities/imgop.h
  tests/test_controllers/test_chain.cpp
Due: app, tests

ImageOneContour find contours external
  app/handlers/detector.cpp
  tests/test_controllers/test_chain.cpp
Due: app, tests

[Handler] effective incircle extractor
  app/controllers/chain.cpp
  app/handlers/detector.cpp
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/handlers/filter.cpp
  tests/test_handlers/test_extractor.cpp
Due: app, tests

[utilities] ResizeImageOperator
  app/common/palm.h
  app/handlers/extractor.cpp
  app/utilities/imgop.cpp
  app/utilities/imgop.h
  tests/main.cpp
  tests/test_base.h
  tests/test_controllers/test_chain.cpp
  tests/test_handlers/test_binarizer.cpp
  tests/test_utilities/test_imgop.cpp
Due: app, tests

app readme
  app/README.md
Due: app

[Handler] OrigNormalizer/IncircleRoiNormalizer
  app/README.md
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  app/handlers/binarizer.h
  app/handlers/detector.h
  app/handlers/enhancer.h
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/handlers/filter.h
  app/handlers/normalizer.cpp
  app/handlers/normalizer.h
  app/utilities/imgop.cpp
  app/utilities/imgop.h
  tests/test_base.h
  tests/test_controllers/test_chain.cpp
  tests/test_utilities/test_imgop.cpp
Due: app, tests

[Handler] OrigNormalizer/IncircleRoiNormalizer
  app/common/palm.h
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/handlers/normalizer.cpp
  app/handlers/normalizer.h
  tests/test_handlers/test_normalizer.cpp
Due: app, tests

1. implement HandlerFactory 2. ChainBuilder
  app/controllers/chain.cpp
  app/controllers/chain.h
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  app/handlers/binarizer.cpp
  app/handlers/binarizer.h
  app/handlers/detector.cpp
  app/handlers/detector.h
  app/handlers/enhancer.cpp
  app/handlers/enhancer.h
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/handlers/filter.cpp
  app/handlers/filter.h
  app/handlers/handler.h
  app/handlers/normalizer.cpp
  app/handlers/normalizer.h
  app/utilities/imgop.h
  tests/test_controllers/test_chain.cpp
  tests/test_handlers/test_filter.cpp
  tests/test_handlers/test_normalizer.cpp
Due: app, tests

Add registry to uniform registration of handler
  app/controllers/chain.cpp
  app/handlers/adjuster.cpp
  app/handlers/binarizer.cpp
  app/handlers/detector.cpp
  app/handlers/enhancer.cpp
  app/handlers/extractor.cpp
  app/handlers/filter.cpp
  app/handlers/normalizer.cpp
  app/handlers/registry.h
Due: app

update README
  README.md
  app/README.md
  app/handlers/registry.h
Due: app

cmake add yaml-cpp library
  app/CMakeLists.txt
  tests/CMakeLists.txt
  thirdparty/yaml-cpp/CMakeLists.txt.in
Due: app, tests

add yaml header
  app/CMakeLists.txt
  app/controllers/chain.h
Due: app

Use YamlConfigManger to build handler chain
  app/CMakeLists.txt
  app/README.md
  app/common/status.h
  app/controllers/chain.cpp
  app/controllers/chain.h
  app/controllers/config_manager.cpp
  app/controllers/config_manager.h
  app/handlers/adjuster.cpp
  app/handlers/adjuster.h
  app/handlers/binarizer.cpp
  app/handlers/binarizer.h
  app/handlers/detector.cpp
  app/handlers/detector.h
  app/handlers/enhancer.cpp
  app/handlers/enhancer.h
  app/handlers/extractor.cpp
  app/handlers/extractor.h
  app/handlers/filter.cpp
  app/handlers/filter.h
  app/handlers/handler.h
  app/handlers/normalizer.cpp
  app/handlers/normalizer.h
  manage.sh
  tests/CMakeLists.txt
  tests/config.yaml
  tests/main.cpp
  tests/test_base.h
  tests/test_controllers/test_chain.cpp
  tests/test_handlers/test_detector.cpp
  tests/test_handlers/test_filter.cpp
  tests/test_handlers/test_normalizer.cpp
Due: app, tests

Fix repeated destructions bug
  app/handlers/handler.h
  tests/main.cpp
Due: app, tests

add test to improve codecov
  tests/test_handlers/test_detector.cpp
  tests/test_handlers/test_normalizer.cpp
Due: tests

print handler chain total cost millisecond
  app/controllers/chain.cpp
  manage.sh
Due: app

import codecov
  app/handlers/normalizer.cpp
  tests/test_handlers/test_normalizer.cpp
Due: app, tests

codecov test
  manage.sh
Due: none

handler virtual class add name function
  app/handlers/handler.h
Due: app

Path conditions:
  app: any of: app/
  tests: any of: tests/
